

#searchgroup{
	width:50%;
	margin:auto;
	margin-top:32px;
	margin-bottom:32px;
}

#map-canvas{
	height:50%;
	width:50%;
	left:1%;
	margin-bottom:16px;
}

.filters{
	margin-bottom:10%;
}

.resultsPanel, .filterPanel{
	margin:0px;
	float:right;
	height:50%;
	width:24%;
	border:1px #BBBBBB solid;
	padding:1%;
	background-color:rgba(170,170,170,0.2);
	border-radius:6px;
}

.resultsPanel{
	float:right;
	overflow-y:auto;
}

.filterPanel{
	float:left;
	padding-top:32px;
}

.list-group{
	height:120px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 12px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#filterbutton{
	width:60%;
	margin-top:-12px;
}