

#searchgroup{
	width:50%;
	margin:auto;
	margin-top:32px;
	margin-bottom:32px;
}

#map-canvas{
	height:50%;
	width:50%;
	left:1%;
	margin-bottom:16px;
}

.filterPanel{
	float:left;
	height:50%;
	width:24%;
	border:1px #BBBBBB solid;
	padding:8px;
	background-color:rgba(170,170,170,0.1);
}
.filters{
	margin-bottom:16px;
}