@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    margin:0;
    font-family:'Lato', sans-serif;
    text-align:center;
    color: #000;
    /*background-color:rgb(220, 220, 240);*/
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFFFFF), color-stop(1, #C0D4E2));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse closest-corner, #FFFFFF 30%, #C0D4E2 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-corner, #FFFFFF 30%, #C0D4E2 100%);
}

#page {
    width:90%;
    min-width:800px;
    position:relative;
    left:5%;
	top:51px;
}

header, nav, footer, #content {
    padding:10px;
    border:1px solid rgb(100, 100, 100);
    border-top-width:0px;
}

header {
    border-top-width:1px;
    background-color:#85A5CC;
}

.tab{
	margin-left:16px;
}
.register{
	color:#CC0000;
}
.register:visited{
	color:#CC0000;
}
.register:hover{
	color:#AA0000;
	cursor:pointer;
}

nav {
    background-color:#D0E4F2;
	height:64px;
}

.nav-pills{
	max-width:70%;
	margin:auto;
}
.nav-pills li{
	border:1px rgba(200,200,200,0.5) solid;
	border-radius:4px;
	background-color:rgba(200,200,200,0.2);
}

footer {
    background-color:#4D5C94;
	color:#BBB;
}

#content {
    background-color:rgba(255, 255, 255,0.3);
}

ul li {
    display:inline;
    margin:0 1.2em;
}

p {
    margin:2em 0;
    color:#555;
}

.headertext{
	width:50%;
	margin-left:25%;
}

.navbar .container{
	width:100%;
	background-color:rgba(30,39,96,0.4);
	border:1px black solid;
}
