@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    margin:0;
    font-family:'Lato', sans-serif;
    text-align:center;
    color: #000;
    background-color:rgb(220, 220, 240);
}

#page {
    width:90%;
    min-width:800px;
    position:relative;
    left:5%;
    top:25px;
}

header, nav, footer, #content {
    padding:10px;
    border:1px solid rgb(100, 100, 100);
    border-top-width:0px;
}

header {
    border-top-width:1px;
    background-color:#85A5CC;
}

nav {
    background-color:#D0E4F2;
}

.nav-pills{
	max-width:80%;
	margin:auto;
}

footer {
    background-color:#4D5C94;
	color:#BBB;
}

#content {
    background-color:rgb(255, 255, 255);
}

a, a:visited {
    text-decoration:none;
}
a:visited{
	color:#4A6491;
}

a:hover {
    text-decoration:underline;
}

ul li {
    display:inline;
    margin:0 1.2em;
}

p {
    margin:2em 0;
    color:#555;
}