
.inputpanel,.mappanel{
	height:65%;
	margin:auto;
	padding:1%;
}
.inputpanel{
	width:40%;
	float:left;
	background-color:rgba(170,170,170,0.2);
	border-radius:6px;
	border:1px #BBBBBB solid;
	overflow-y:auto;
}
.mappanel{
	width:60%;
	margin-right:0px;
}

.input-group{
	width:50%;
	margin-bottom:2%;
	margin-left:25%;
}
.daygroup{
	width:100%;
}
.daylabel{
	padding:2px;
	padding-bottom:12px;
}

#map-canvas{
	height:60%;
	width:100%;
	margin-bottom:16px;
}

.inputpanel .btn{
	width:50%;
	margin-top:16px;
}